* {
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  background-color: #007090;
}

.container {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game {
  height: 60vmin;
  width: 60vmin;
  gap: 2vmin;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.box {
  height: 18vmin;
  width: 18vmin;
  border-radius: 1rem;
  border: 0rem;
  font-size: 10vmin;
  color: #eaebed;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 1.5);
  background-color: #01a7c2;
}

#result {
  padding: 1rem;
  border-radius: 1rem;
  font-size: 1.2rem;
  border: 0rem;
  background-color: #a3bac3;
  color: #eaebed;
}

#newbtn {
  padding: 1rem;
  border-radius: 1rem;
  font-size: 1.2rem;
  border: 0rem;
  background-color: #a3bac3;
  color: #eaebed;
}

#msg {
  color: #a3bac3;
  font-size: 2rem;
}

.hide {
  display: none;
}
